@import '@/scss/_mixins.scss';
.btn {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-200-30);
  border-radius: 10px;
  cursor: pointer;
  @include default-transition;
}

.icon {
  width: 24px;
}

[data-theme='light'] {
  .btn {
    background-color: var(--color-grey-200-30);
  }
  .icon {
    path {
      fill: var(--color-black);
    }
  }
}

[data-theme='dark'] {
  .btn {
    background-color: var(--color-grey-300-30);
  }
  .icon {
    path {
      fill: var(--color-grey-100);
    }
  }
}
