.layout {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}
.wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: var(--site-width, 916px);
  margin: 0 var(--gutter, 90px);
}
