// Post
.link {
  display: inline-block;
}
.postWrapper {
  display: inline-block;
  position: relative;
  z-index: 0;
}
.postContainer {
  border-radius: 10px;
  display: inline-grid;
  column-gap: var(--space-md);
  grid-template-columns: 134px 1fr;
  position: relative;
  z-index: 20;
}
.hoverBg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border: 1px solid var(--action-color);
  border-radius: 10px;
  background-color: rgba(var(--action-color-rgb), 0.2);
  z-index: 10;
}
.postContent {
  display: flex;
}
.postContentText {
  max-width: 319px;
}
.time {
  font-size: var(--fz-xsm);
  line-height: var(--lh-tight);
  text-transform: uppercase;
  color: var(--text-04);
  font-weight: 700;
}
.icon {
  width: 14px;
  opacity: 0;
  path {
    fill: var(--action-color);
  }
}
