$colors: (
  'black': #181818,
  'white': #ffffff,
  'yellow': #ffc148,
  'slate': #656565,
);

:root {
  --color-black: #181818;
  --color-white: #ffffff;
  --color-yellow: #ffc148;
  --color-slate: #656565;
}
