:root {
  --space-super: 170px;
  --space-xxl: 105px;
  --space-xl: 65px;
  --space-lg: 40px;
  --space-md: 25px;
  --space-sm: 15px;
  --space-xsm: 10px;
  --space-xxsm: 8px;
  --space-micro: 5px;
}

// * PADDING AND MARGIN
$props: (
  p: padding,
  m: margin,
);
$dirs: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);

$spacings: (
  'super': var(--space-super),
  'xxl': var(--space-xxl),
  'xl': var(--space-xl),
  'lg': var(--space-lg),
  'md': var(--space-md),
  'sm': var(--space-sm),
  'xsm': var(--space-xsm),
  'xxsm': var(--space-xxsm),
  'micro': var(--space-micro),
  'none': 0,
);
@each $prop-key, $prop-val in $props {
  @each $space-key, $space-val in $spacings {
    .#{$prop-key}-#{$space-key} {
      #{$prop-val}: $space-val;
    }
  }
  @each $space-key, $space-val in $spacings {
    .#{$prop-key}-x-#{$space-key} {
      #{$prop-val}-left: $space-val;
      #{$prop-val}-right: $space-val;
    }
  }
  @each $space-key, $space-val in $spacings {
    .#{$prop-key}-y-#{$space-key} {
      #{$prop-val}-top: $space-val;
      #{$prop-val}-bottom: $space-val;
    }
  }
  @each $dir-key, $dir-val in $dirs {
    @each $space-key, $space-val in $spacings {
      .#{$prop-key}-#{$dir-key}-#{$space-key} {
        #{$prop-val}-#{$dir-val}: $space-val;
      }
    }
  }
}
// * PARENT/CHILD RELATIONSHIP SPACING HELPERS
@each $space-key, $space-val in $spacings {
  .space-y-#{$space-key} {
    > :not(template) {
      margin-bottom: $space-val;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
  .space-x-#{$space-key} {
    > :not(template) {
      margin-right: $space-val;
    }
    > :last-child {
      margin-right: 0;
    }
  }
}
