:root {
  --space-super: 170px;
  --space-xxl: 105px;
  --space-xl: 65px;
  --space-lg: 40px;
  --space-md: 25px;
  --space-sm: 15px;
  --space-xsm: 10px;
  --space-xxsm: 8px;
  --space-micro: 5px;
}
