.root[data-theme='dark'] {
  --ui-bg: var(--color-black);
  --text-01: var(--color-grey-100);
  --text-02: var(--color-grey-100);
  --text-03: var(--color-yellow);
  --action: var(--color-yellow);
}

.root[data-theme='light'] {
  --ui-bg: var(--color-grey-100);
  --text-01: var(--color-black);
  --text-02: var(--color-white);
  --text-03: var(--color-blue);
  --action: var(--color-blue);
}
