.root[data-theme='dark'] {
  --ui-bg: var(--color-black);
  --surface-01: var(--color-grey-100);
  --text-01: var(--color-grey-100);
  --text-02: var(--color-grey-100);
  --text-03: var(--color-yellow);
  --text-04: var(--color-grey-100);
  --action-color-rgb: var(--color-yellow-rgb);
  --action-color: rgb(var(--action-color-rgb));
}

.root[data-theme='light'] {
  --ui-bg: var(--color-grey-100);
  --surface-01: var(--color-black);
  --text-01: var(--color-black);
  --text-02: var(--color-white);
  --text-03: var(--color-blue);
  --text-04: var(--color-grey-300);
  --action-color-rgb: var(--color-blue-rgb);
  --action-color: rgb(var(--action-color-rgb));
}
