.root[data-theme='dark'] {
  --ui-bg: var(--color-black);
  --surface-01: var(--color-black);
  --surface-02: var(--color-slate);
  --text-01: var(--color-white);
  --text-02: var(--color-black);
  --text-03: var(--color-yellow);
}

.root[data-theme='light'] {
  --ui-bg: var(--color-white);
  --surface-01: var(--color-white);
  --surface-02: var(--color-slate);
  --text-01: var(--color-black);
  --text-02: var(--color-black);
  --text-03: var(--color-yellow);
}
