:root {
  --ui-bg: var(--color-grey-100);
  --text-01: var(--color-black);
  --text-02: var(--color-white);
  --text-03: var(--color-blue);
  --action-color-rgb: var(--color-blue-rgb);
  --action-color: rgb(var(--action-color-rgb));
}
