// Defining Custom Properties for typography
:root {
  // *  Typeface
  --ff-primary: 'Rubik', sans-serif;

  // * Font Sizes
  --fz-super: 113px;
  --fz-xxl: 80px;
  --fz-xl: 56px;
  --fz-lg: 40px;
  --fz-md: 28px;
  --fz-base: 20px;
  --fz-sm: 14px;
  --fz-xsm: 10px;
  --fz-micro: 7px;

  // * Line Height
  --lh-primary: 1.33;
  --lh-tight: 1;
  --lh-loose: 1.5;
}

// * Native Element Styles
h1,
.text-h1,
h2,
.text-h2,
h3,
.text-h3,
h4,
.text-h4,
h5,
.text-h5,
h6,
.text-h6,
a,
button,
li,
p,
.text-p {
  font-family: var(--ff-primary);
  text-align: left;
  color: var(--color-white);
  line-height: var(--lh-primary);
}

h1,
.text-h1 {
  font-weight: 700;
  line-height: var(--lh-tight);
  font-size: var(--fz-md);
}

h2,
.text-h2 {
  font-weight: 700;
  line-height: var(--lh-tight);
  font-size: var(--fz-base);
}

p,
.text-p {
  font-weight: 400;
  line-height: var(--lh-loose);
  font-size: var(--fz-base);
}

li {
  font-weight: 400;
  line-height: var(--lh-loose);
  font-size: var(--fz-base);
}
